body {
    margin: 0px;
    background-color: #D8E7D8;
}

h1, h2, h3, h4, p {
    font-family:'Poppins';
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

div.img-text {
    background-color: #FBEEDD;
    color: #434343;
    border-color: black;
    border-width: 3px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    padding: 20px;
}

.img-text img {
    width: 100%;
    max-width: 50%;
    object-fit: cover;
}

.intro-text {
    width: 100%;
    max-width: 50%;
}

main {
    background-color: #D8E7D8;
    margin: 0px;
}

div.case-study {
    background-color: #FBEEDD;
    padding: 20px;
    margin: 30px;
    border-radius: 15% 5%;
    border-color: black;
    border-width: 3px;
    color: #434343;
    text-align: left;
}

button.cs-button {
    font-family: 'Poppins';
    background-color: #3A526E;
    color: white;
    text-align: center;
    border-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
}