@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tan Meringue';
    src: url('../fonts/Tan-Meringue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    --background-color-light: #D8E7D8;
    --text-color-light: #434343;
    --box-beige-light: #FBEEDD;
    --box-blue-light: #3A526E;

    --font-sans: Manrope;
    --font-serif: 'Tan Meringue';
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 60px;
    background-color: var(--background-color-light);
}

main {
    margin: 5px;
}

h1, h2, h3, h4, p, button {
    font-family: Manrope;
    color: var(--text-color-light);
}

h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 28px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: normal;
}

p {
    font-size: 18px;
    font-weight: 300;
}

b {
    font-weight: 600; 
}

header {
    background-color: var(--box-blue-light);
    width: 100%;
    margin: 0px;

    position: fixed;
    top: 0;
    left: 0;
    height: 48px;

    label {
        cursor: pointer;
        height: 20px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 26px;
        z-index: 1001;
    
        span {
          background-color: white;
          border-radius: 2px;
          display: block;
          height: 3px;
          position: absolute;
          width: 100%;
    
          transform-origin: left;
    
          &:nth-child(1) {
            top: 0;
          }
    
          &:nth-child(2) {
            top: 8px;
          }
    
          &:nth-child(3) {
            top: 16px;
          }
        }
    }
}

nav {
    background: var(--box-blue-light);
    height: 100vh;
    margin-block-start: 48px;
    width: 0px;
  
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1000;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0;
  
        a {
          color: white;
          display: block;
          font-size: 1.25rem;
          padding-block: 1rem;
          padding-inline: 1rem;
          text-decoration: none;
  
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 5px auto;
    
    h1 {
        font-family: var(--font-serif);
        font-size: 48px;
        text-align: center;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.img-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    padding: 20px;

    background-color: var(--box-beige-light);
    border: 1px solid var(--text-color-light);
    border-radius: 30px;

    img {
        max-width: 90%;
        height: auto;
        object-fit: cover;
        margin: 0px auto;
    }
}

.standard-text {
    padding: 0 30px;
    border: none;

    h1, h2, p {
        margin: 15px auto;
    }
}

main {
    margin: 0px;
}

div.case-study {
    padding: 20px;
    margin: 0px auto;
    border-radius: 15% 5%;
    text-align: left;
    border: none;
}

button {
    background-color: var(--box-blue-light);
    color: white;
    text-align: center;
    border-color: var(--text-color-light);
    border-radius: 10px;
}

.cs-button {
    padding: 10px;
    width: 50%;
}

.card {
    border-bottom: 1px solid #434343;

    h2, p {
        margin: 7px;
        line-height: 1.2;
    }

    img {
        border-radius: 10px;
        width: 600px;
        display: block;
        margin: 10px auto;
    }
}

/* .test {
    border: none;
    height: auto;
    margin: 10px auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border: 0px solid #D8E7D8;
    border-radius: 0px;
    background-color: #D8E7D8;
}

.tab {
    background-color: transparent;
    border-bottom: 50px solid #3A526E;
	border-left: 25px solid transparent;
	border-right: 25px solid #3A526E;
    border-top: none;
    border-radius: 0px;
	height: 0;
	width: 50%;
    
    h2 {
        color: white;
    }
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    background-color: #FBEEDD;
    height: auto;
}

@media screen and (max-width: 900px){
    .content img{
        width: auto;
    }

    .content{
       flex-direction: column;
    }
 } */

/* .intro-card {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
  }

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .gallery::after {
    content: "";
    width: 350px;
  } */