@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tan Meringue';
    src: url('../fonts/Tan-Meringue.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    --background-color-light: #EBE9E8;
    --text-color-light: #434343;
    --box-offwhite-light: #F2F2F2;
    --box-blue-light: #3A526E;

    --font-sans: Manrope;
    --font-serif: 'Tan Meringue';
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 70px;
    /* margin-inline: 10px; */
    background-color: var(--background-color-light);
}

main {
    margin: 10px;
}

h1, h2, h3, h4, p, button, ul, li, a {
    margin: 0px;
    font-family: Manrope;
    color: var(--text-color-light);
}

h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

b {
    font-weight: 600; 
}

a {
    color: var(--box-blue-light);

    :hover {
        color: var(--box-blue-light);
        text-decoration-color: var(--box-blue-light);
    }
}

header {
    background-color: var(--box-blue-light);
    width: 100%;
    margin: 0px;

    position: fixed;
    top: 0;
    left: 0;
    height: 48px;

    label {
        cursor: pointer;
        height: 20px;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 26px;
        z-index: 1001;
    
        span {
          background-color: white;
          border-radius: 2px;
          display: block;
          height: 4px;
          position: absolute;
          width: 100%;
    
          transform-origin: left;
    
          &:nth-child(1) {
            top: 0;
          }
    
          &:nth-child(2) {
            top: 8px;
          }
    
          &:nth-child(3) {
            top: 16px;
          }
        }
    }
}

nav {
    background: var(--box-blue-light);
    height: 100vh;
    margin-block-start: 48px;
    width: 100vw;
  
    position: fixed;
    right: -100vw;
    top: 0;
    z-index: 1000;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 0;
  
        a {
          color: white;
          display: block;
          font-size: 38px;
          padding-block: 1rem;
          padding-inline: 2rem;
          text-decoration: none;
  
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }

  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }

.section-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 5px 5px;
    
    h1 {
        /* font-family: var(--font-serif); */
        font-size: 42px;
        text-align: left;
        line-height: 1.4;
    }

    img {
        width: 30px;
        height: 30px;
        margin: 0px 2px;
    }
}

.text-serif {
    font-family: var(--font-serif);
    font-size: 24px;
}

.container {
    margin: 0px auto;
    padding: 0px 20px;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0px auto;
    }

    h1, h2, h3, h4, p {
        padding: 0 10px;
        margin: 10px auto;
    }
}

.action-button {
    display: flex;
    justify-content: center;

    padding: 10px 20px;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--box-blue-light);
    
    a {
        font-size: 18px;
        color: white;
        text-align: center;
        border-color: var(--text-color-light);
    }
}

.inline-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 10px 10px;

    img {
        width: 30px;
    }
}

.center-img {
    display: block;
    margin: 0px auto;
}

.imgs-rounded {
    img {
        border-radius: 10px;
        margin-block: 5px;
        margin-inline: auto;
    }
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 10px auto;
    padding: 20px;

    background-color: var(--box-offwhite-light);
    border-radius: 30px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);

    text-align: left;

    img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        display: block;
        margin: 3px auto;
    }

    h2 {
        text-align: left;
        margin-block: 10px;
    }
    
    h4 {
        font-family: var(--font-serif);
        font-size: 20px;
        text-transform: lowercase;
        text-align: center;
    }
}

.section-background {
    background-color: white;
    border-radius: 30px;

    margin-top: 20px;
    padding-block: 10px;
}

.list {
    border-top: 1px solid var(--background-color-light);
    margin-block: 10px;

    h4 {
        margin-block: 5px;
        padding-inline: 10px;
    }

    p {
        margin-block: 5px;
        padding-inline: 20px;
    }
}

#contact {
    padding-inline: 20px;

    h1, h2, p {
        margin-block: 15px;
    }

    h1 {
        line-height: 0.9;
    }
}

.img-link {
    justify-content: left;

    img {
        width: 70px;
        margin: 0px;
        padding: 0px;
    }

    h4 {
        text-decoration: underline;
    }
}

.visual-page-card {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px;

    background-color: var(--background-color-light);
    border-radius: 30px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);


    img:first-of-type {
        border-radius: 10px;
        margin-block: 10px;
        width: 100%;
        height: auto;

        margin: 0px auto;
    }

    h1, h4 {
        font-family: var(--font-serif);
        font-size: 20px;
        line-height: 1.5;
        text-transform: lowercase;
    }
}

.text-container-shadow {
    margin: 0px auto 20px auto;
    padding: 10px 20px;

    background-color: var(--box-offwhite-light);
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    img {
        display: block;
        object-fit: cover;
        margin: 0px auto;
        max-width: 100%;
        height: auto;
    }

    h1, h2, h3, h4, p {
        padding: 0 10px;
        margin: 10px auto;
    }

    :hover {
        border: 1px solid var(--text-color-light);
    }
}

.case-study-container {
    padding: 20px;
    margin: 10px;

    background-color: var(--box-offwhite-light);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    img {
        margin: 0px auto;
        width: 100%;
    }

    h1, h2, h3, h4, p {
        margin: 2px;
        padding: 0px 20px;
    }

    h4 {
        color: var(--box-blue-light);
        line-height: 0.9;
    }
}

.case-study-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    margin-block: 5px;
}

.border-outline {
    margin: 5px;
    padding: 10px;

    border: 1px solid var(--text-color-light);
    border-radius: 50px;

    text-align: center;
    color: var(--text-color-light);
    width: 40%;
}